@font-face {
    font-family: 'Cascode';
    /*a name to be used later*/
    src: url('CascadiaCodePL.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Tiempos';
    /*a name to be used later*/
    src: url('TiemposText-Regular.otf');
    /*URL to font*/
}


:root {
    --background-color: #fcf9f4;
    --darker-background-color: #f7f1e3;
    --border-color: #84817a;
    --border-width: 2px;
    --border-radius: 5px;
    --primary-color: #3498db;
    --text-color: #2c3e50;
    --button-hover-color: #2980b9;
}

body {
    font-family: Cascode, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

#container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}



#tagGraph {
    flex-grow: 1;
    margin-right: calc(var(--border-width) *-1);
}

#tagGraph,
#nodeMenu {
    background-color: var(--background-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0px;
    margin-bottom: 5px;
    overflow: hidden;
}


input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Cascode, Arial, sans-serif;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: #000;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    font-family: Cascode, monospace;
}

button:hover {
    background-color: var(--button-hover-color);
}


button.red {
    background-color: #e74c3c;
}

button.red:hover {
    background-color: #c0392b;
}

button.brown {
    background-color: #84817a;
    border-width: 1px;
    border-color: #6e6c65;
    border-style: solid;
}

button.brown:hover {
    background-color: #747069;
}

button.turq {
    background-color: #1abc9c;
}

button.turq:hover {
    background-color: #16a085;
}

button.blue {
    background-color: #3498db;
}

button.blue:hover {
    background-color: #2980b9;
}

#results {
    font-family: Tiempos, Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

/* #results .note {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
} */