<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DyNotes</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='css/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nodeMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noteForm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchDisplay.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastManager.css') }}">

    <style>
        #container {
            display: flex;
        }

        #tagGraph {
            flex: 1;
        }

        #nodeMenu {
            width: 250px;
            padding: 10px;
            background-color: #f0f0f0;
            display: none;
        }
    </style>
</head>

<body>
    <div id="toastManager" class="toast-manager">
        <div id="toastContainer" class="toast-container"></div>
    </div>
    <h1>
        <center>DyNotes</center>
    </h1>

    <button id="toggleFullscreen" class="fullscreen-btn" title="Toggle Fullscreen">⛶</button>
    <!-- Move password update to a settings dropdown -->
    <div class="settings-dropdown">
        <button class="settings-btn">⚙️</button>
        <div class="settings-content">
            <input type="password" id="searchPassword" value="pw5" placeholder="Enter password for higher visibility">
            <button id="updateGlobalPasswords">Update Global Passwords</button>
            <button id="generateTagPassword">Generate Tag Password</button>
            <div id="statsContainer">
                <h3>DyNotes Stats</h3>
                <p>Total Notes: <span id="noteCount">Loading...</span></p>
                <p>Total Tags: <span id="tagCount">Loading...</span></p>
                <p>Tag Relationships: <span id="relationshipCount">Loading...</span></p>
                <p>Average Note Rating: <span id="avgRating">Loading...</span></p>
                <p>Visibility Distribution: <span id="visibilityDistribution">Loading...</span></p>
                <p>Top 5 Tags: <span id="topTags">Loading...</span></p>
                <p>Notes Added Last 7 Days: <span id="recentNotes">Loading...</span></p>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="tagGraph"></div>

        <div id="nodeMenu">
            <div class="header-section">
                <div class="title-container">
                    <h3>Node Details</h3>
                    <button id="deleteTagBtn" class="danger">Delete</button>
                </div>
                <button id="closeNodeMenu" class="close-btn">&times;</button>
            </div>
            <!-- <input type="text" id="nodeName">
            <button onclick="tagGraph.renameNode()">Rename</button> -->

            <div class="rename-section">
                <input type="text" id="nodeName" placeholder="Node name">
                <button onclick="tagGraph.renameNode()" class="reset">Rename</button>
            </div>
            <h4>Parents</h4>
            <ul id="nodeParents"></ul>
            <h4>Children</h4>
            <ul id="nodeChildren"></ul>
            <h4>Add Parent</h4>
            <div class="add-section">
                <select id="addParent"></select>
                <button onclick="tagGraph.addParent()">Add</button>
            </div>

            <h4>Add Child</h4>
            <div class="add-section">
                <select id="addChild"></select>
                <button onclick="tagGraph.addChild()">Add</button>
            </div>
        </div>
    </div>

    <div>
        <p>Selected Tags: <span id="selectedNoteTags"></span></p>
    </div>

    <!-- Updated tag addition and note button section -->
    <div class="action-row">
        <div id="addTagSection">
            <input type="text" id="tagName" placeholder="Enter tag name">
            <button onclick="addTag()" class="normal">Add Tag</button>
        </div>

        <div class="button-container">
            <button id="showAddNoteBtn" class="brown">Add Note ▼</button>
            <button id="startMMRComparison" class="brown">Compare Notes</button>
        </div>
    </div>



    <!-- Updated note addition section -->
    <div id="addNoteSection" style="display: none;">
        <div id="addNoteForm">
            <button id="closeAddNoteBtn" class="close-btn">×</button>
            <div class="note-form-row">
                <div id="noteRating" class="star-rating">
                    <span class="star" data-value="1">⭐</span>
                    <span class="star" data-value="2">⭐</span>
                    <span class="star" data-value="3">⭐</span>
                    <span class="star" data-value="4">⭐</span>
                    <span class="star" data-value="5">⭐</span>
                </div>
                <div id="noteVisibility" class="visibility-rating">
                    <span class="visibility" data-value="1">🔓</span>
                    <span class="visibility" data-value="2">🔒</span>
                    <span class="visibility" data-value="3">🔐</span>
                    <span class="visibility" data-value="4">🔏</span>
                </div>
            </div>
            <div class="note-form-row">
                <input type="text" id="noteAuthor" placeholder="Author">
                <input type="text" id="noteSource" placeholder="Source">
            </div>
            <div id="noteTextContainer">
                <textarea id="noteText" placeholder="Enter your note here (Markdown supported)"></textarea>
                <div id="notePreview" class="note-text "></div>
            </div>
            <button onclick="addNote()">Add Note</button>
        </div>
    </div>



    <!-- Add this right after the #addNoteForm div -->
    <div id="editNoteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Note</h2>
            <form id="editNoteForm">
                <div class="edit-note-row">
                    <div id="editNoteRating" class="star-rating">
                        <span class="star" data-value="1">⭐</span>
                        <span class="star" data-value="2">⭐</span>
                        <span class="star" data-value="3">⭐</span>
                        <span class="star" data-value="4">⭐</span>
                        <span class="star" data-value="5">⭐</span>
                    </div>
                    <div id="editNoteVisibility" class="visibility-rating">
                        <span class="visibility" data-value="1">🔓</span>
                        <span class="visibility" data-value="2">🔒</span>
                        <span class="visibility" data-value="3">🔐</span>
                        <span class="visibility" data-value="4">🔏</span>
                    </div>
                </div>
                <input type="text" id="editNoteAuthor" placeholder="Author">
                <input type="text" id="editNoteSource" placeholder="Source">
                <textarea id="editNoteText" placeholder="Note text"></textarea>
                <div id="editNoteTags"></div>
                <div class="edit-note-buttons">
                    <button type="button" class="normal" id="saveEditNoteBtn">Save Changes</button>
                    <button type="button" class="reset" id="revertEditNoteBtn">Revert Changes</button>
                    <button type="button" class="danger" id="deleteNoteBtn">Delete Note</button>
                </div>
            </form>
        </div>
    </div>

    <h2>
        <center>Search</center>
    </h2>
    <div id="loadingIndicator" class="loading-indicator"><span class="dots"></span></div>
    <div class="search-container">
        <input type="text" id="searchText" placeholder="Enter search text">
        <div class="button-container">

            <select id="sortCriteria">
                <option value="stars-desc">⭐ (High to low)</option>
                <option value="stars-asc">⭐ (Low to high)</option>
                <option value="date-desc">⏳ (Newest first)</option>
                <option value="date-asc">⌛ (Oldest first)</option>
                <option value="visibility-desc">🔏 (High to low)</option>
                <option value="visibility-asc">🔓 (Low to high)</option>
                <option value="mmr-desc">🥊MMR (High to low)</option>
                <option value="mmr-asc">🥊MMR (Low to high)</option>
            </select>
            <button onclick="searchNotes()" class="normal">Search</button>
        </div>
    </div>

    <div id="results"></div>


    <div id="mmrModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Compare Notes</h2>
            <div id="mmrNoteContainer">
                <div id="mmrNote1" class="mmr-note">
                    <div class="mmr-note-mmr"></div>

                    <p class="mmr-note-text"></p>
                    <p class="mmr-note-meta"></p>
                    <p class="mmr-note-tags"></p>
                    <p class="mmr-note-rating"></p>
                </div>
                <div id="mmrNote2" class="mmr-note">
                    <div class="mmr-note-mmr"></div>

                    <p class="mmr-note-text"></p>
                    <p class="mmr-note-meta"></p>
                    <p class="mmr-note-tags"></p>
                    <p class="mmr-note-rating"></p>
                </div>
            </div>
            <div class="mmr-controls">
                <button id="toggleMMRRatings">Show Ratings</button>
                <button id="skipMMRComparison">Skip</button>
                <label for="fastModeCheckbox" class="fast-mode-label">
                    <input type="checkbox" id="fastModeCheckbox">
                    Fast-mode
                </label>
            </div>
        </div>
    </div>

    <div id="mmrToast" class="mmr-toast">
        <div class="mmr-toast-content">
            <h3>Comparison Result</h3>
            <div class="mmr-toast-notes">
                <div class="mmr-toast-note">
                    <p>Note 1</p>
                    <p class="mmr-toast-rating"></p>
                    <p class="mmr-toast-mmr"></p>
                </div>
                <div class="mmr-toast-note">
                    <p>Note 2</p>
                    <p class="mmr-toast-rating"></p>
                    <p class="mmr-toast-mmr"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='js/tagGraph.js') }}"></script>
    <!-- <script>
        const tagGraph = new TagGraph("tagGraph");
        tagGraph.initialize();
    </script> -->
</body>

</html>